{% load crispy_forms_tags %}
<!-- Модальное окно для добавления автора -->
<div class="modal fade" id="AuthorAddModal" tabindex="-1" role="dialog" aria-labelledby="AuthorAddModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="AuthorAddModalLabel">Добавить автора</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="{% url 'p_library:author_add' %}">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Полное имя автора: </label>
            <input type="text" class="form-control" id="recipient-name" placeholder="Гоголь Николай Васильевич" name="full_name"required>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Дата рождения: </label>
            <input type="text" class="form-control" id="message-text" placeholder="1809" name="birth_year" required></textarea>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Страна: </label>
            <input type="text" class="form-control" id="message-text" placeholder="RU" name="country" required></input>
          </div>
          <input type="submit" class="btn btn-success" value="Добавить"></button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть окно</button>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Модальное окно для редактирования данных автора -->
<div class="modal fade" id="AuthorEditModal" tabindex="-1" role="dialog" aria-labelledby="AuthorEditModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="AuthorEditModalLabel">Редиктировать данные автора</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form  method="POST" action="{% url 'p_library:author_edit' author_id=author_by.id %}">

          <div class="form-group">
            {{author_form.full_name|as_crispy_field}}
          </div>
          <div class="form-group">
            {{author_form.birth_year|as_crispy_field}}
          </div>
          <div class="form-group">
  
            {{author_form.country|as_crispy_field}}
          </div>
          <input type="submit" class="btn btn-info" value="Сохранить"></button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть окно</button>
        </form>
        <form action="{% url 'p_library:author_delete' author_id=author_by.id %}" method="POST">
            <input type="submit" class="btn btn-danger mt-2" value="Удалить"></button>
        </form>
        
      </div>
    </div>
  </div>
</div>


<!-- Выводит список авторов -->
<div class="row">
    <div class="dropright mb-2 col-auto mr-auto">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Выбрать автора
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">    
            <a href="#" class="d-inline badge badge-succes ml-4" data-toggle="modal" data-target="#AuthorAddModal">Добавить автора</a>
            <hr>
            {% for author in authors %}
            <div class="d-flex align-items-center">
              <a class="dropdown-item {% if author == author_by %} active {% endif %}" href="{% url 'p_library:books_list' author_id=author.id %}">{{author.full_name}}</a>
              {% if author == author_by %} 
                <a class="dropdown-item__icon" href="{% url 'p_library:books_list' author_id=author.id %}" data-toggle="modal" data-target="#AuthorEditModal"><i class="fas fa-user-edit"></i></a>
              {% endif %}
              
            </div>
            {% endfor %}   
        </div>
    </div>
</div>    

