<!-- Наследуемся от базового шаблона -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}

<!-- Титульник -->
{% block title %} Редактировать книгу {% endblock title %} 


{% block main %}


  <form action="" method="post">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-3 mb-0">
            {{ form.title|as_crispy_field }}
            
        </div>
        <div class="form-group col-3 mb-0">
            {{ form.author|as_crispy_field }}
        </div>
        <div class="form-group col-2 mb-0">
            {{ form.ISBN|as_crispy_field }}
        </div>

    </div>
    <div class="form-row">
        <div class="form-group col-2 mb-0">
            {{ form.year_release|as_crispy_field }}
            
        </div>
        <div class="form-group col-2 mb-0">
            {{ form.copy_count|as_crispy_field }}
        </div>
        <div class="form-group col-2 mb-0">
            {{ form.price|as_crispy_field }}
        </div>
        <div id="addfriend" class="form-group d-flex align-items-center col-3 mb-0">
            {{ form.friend|as_crispy_field }}
            <div class="addfriend__icons">
                <a href="{% url 'p_library:friend_edit' book_id=book.id %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
            </div> 
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-9 mb-0">
            {{ form.description|as_crispy_field }}
        </div>
    </div>
    <div class="d-flex  mt-4">
        <a href="{% url 'p_library:books_list' author_id=author_by.id%}?page={{pn}}" class="btn btn-secondary mr-2" role="button" aria-pressed="true">Назад</a>    
        <button type="submit" class="btn btn-primary">Изменить</button>
    </div>
  </form>    
{% endblock main %}
    

